.rss-details-container {
  font-weight: 500;
  transition: margin-left 0.3s ease;
  margin-top: 1vh;
  font-size: 12px;
}

.content-moved-7 {
  transition: margin-right 0.3s ease;
}

.add-button-rss {
    font-size: 11px;
    border-radius: 2px;
}






.inside-rss-details-container table {
  font-size: 11px;
}
